@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: light --bumblebee, dark --coffee;
}

.frame-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px
}

/* Then style the iframe to fit in the container div with full height and width */
.frame {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}